<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba de ruta 1</title>
</head>
<body>
    <h1>Hola mundo </h1>
    <h2>funciono opa</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit error in rem odio molestias, architecto
    laboriosam pariatur ut nam dolorum numquam recusandae debitis? Architecto totam error ipsum corporis, id expedita.</p>
</body>
</html>